body {
    margin: 0;
    font-family: 'StratosSkyeng', sans-serif;
    background-image: url(./images/back.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.header {
    height: 100vh;
    background-image: url(./images/head.png);
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    padding-top: 75px;
    border-top: 25px solid black;
}

table {
    width: 1200px;
    height: 100vh;
    border-collapse: collapse;
    margin: 0 auto;
}

tr, td {
    border: 25px solid white,
    text-align: center;
    vertical-align bottom;
}

img {
    width: 560px;
}

p {
    background-color: white;
    width: max-content;
    font-size: 30px;
    border-radius: 26px;
    margin: 23px auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}